TestTypeApp/Service References/TypeService/TypeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.web.courses.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TypeService" targetNamespace="http://soap.web.courses.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.web.courses.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Deactivate" type="tns:Deactivate" />
      <xs:element name="DeactivateResponse" type="tns:DeactivateResponse" />
      <xs:element name="Delete" type="tns:Delete" />
      <xs:element name="DeleteResponse" type="tns:DeleteResponse" />
      <xs:element name="Find" type="tns:Find" />
      <xs:element name="FindResponse" type="tns:FindResponse" />
      <xs:element name="Read" type="tns:Read" />
      <xs:element name="ReadAll" type="tns:ReadAll" />
      <xs:element name="ReadAllResponse" type="tns:ReadAllResponse" />
      <xs:element name="ReadResponse" type="tns:ReadResponse" />
      <xs:element name="Save" type="tns:Save" />
      <xs:element name="SaveResponse" type="tns:SaveResponse" />
      <xs:complexType name="Delete">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeleteResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="Read">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReadResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:soksType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="soksType">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" />
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReadAll">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ReadAllResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:soksType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Deactivate">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeactivateResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="Find">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FindResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:soksType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Save">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:soksType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaveResponse">
        <xs:sequence>
          <xs:element name="_return">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:int" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="FindResponse">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="Delete">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="Read">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="DeleteResponse">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadResponse">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="SaveResponse">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ReadAll">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="DeactivateResponse">
    <wsdl:part name="parameters" element="tns:DeactivateResponse" />
  </wsdl:message>
  <wsdl:message name="Deactivate">
    <wsdl:part name="parameters" element="tns:Deactivate" />
  </wsdl:message>
  <wsdl:message name="Find">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="Save">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ReadAllResponse">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:portType name="TypeService">
    <wsdl:operation name="Delete">
      <wsdl:input name="Delete" message="tns:Delete" />
      <wsdl:output name="DeleteResponse" message="tns:DeleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input name="Read" message="tns:Read" />
      <wsdl:output name="ReadResponse" message="tns:ReadResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input name="ReadAll" message="tns:ReadAll" />
      <wsdl:output name="ReadAllResponse" message="tns:ReadAllResponse" />
    </wsdl:operation>
    <wsdl:operation name="Deactivate">
      <wsdl:input name="Deactivate" message="tns:Deactivate" />
      <wsdl:output name="DeactivateResponse" message="tns:DeactivateResponse" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input name="Find" message="tns:Find" />
      <wsdl:output name="FindResponse" message="tns:FindResponse" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input name="Save" message="tns:Save" />
      <wsdl:output name="SaveResponse" message="tns:SaveResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TypeServiceSoapBinding" type="tns:TypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Read">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Read">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReadResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ReadAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReadAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deactivate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Deactivate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeactivateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Find">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Save">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TypeService">
    <wsdl:port name="ImplementationTypeServicePort" binding="tns:TypeServiceSoapBinding">
      <soap:address location="http://localhost:8080/socks-web/soap/typeservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>