TestTypeApp/Service References/TypeService/TypeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.web.courses.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TypeService" targetNamespace="http://soap.web.courses.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.web.courses.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Deactivate" type="tns:Deactivate" />
      <xs:element name="DeactivateResponse" type="tns:DeactivateResponse" />
      <xs:element name="ReadAll" type="tns:ReadAll" />
      <xs:element name="ReadAllResponse" type="tns:ReadAllResponse" />
      <xs:element name="Save" type="tns:Save" />
      <xs:element name="SaveResponse" type="tns:SaveResponse" />
      <xs:complexType name="Deactivate">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DeactivateResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="Save">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" type="tns:socksType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="socksType">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" />
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaveResponse">
        <xs:sequence>
          <xs:element name="_return">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:int" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReadAll">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ReadAllResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:socksType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SaveResponse">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="DeactivateResponse">
    <wsdl:part name="parameters" element="tns:DeactivateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadAll">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="Deactivate">
    <wsdl:part name="parameters" element="tns:Deactivate" />
  </wsdl:message>
  <wsdl:message name="Save">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ReadAllResponse">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:portType name="TypeService">
    <wsdl:operation name="Deactivate">
      <wsdl:input name="Deactivate" message="tns:Deactivate" />
      <wsdl:output name="DeactivateResponse" message="tns:DeactivateResponse" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input name="Save" message="tns:Save" />
      <wsdl:output name="SaveResponse" message="tns:SaveResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input name="ReadAll" message="tns:ReadAll" />
      <wsdl:output name="ReadAllResponse" message="tns:ReadAllResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TypeServiceSoapBinding" type="tns:TypeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Deactivate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Deactivate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeactivateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Save">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ReadAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReadAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TypeService">
    <wsdl:port name="ImplementationTypeServicePort" binding="tns:TypeServiceSoapBinding">
      <soap:address location="http://localhost:8080/socks-web/soap/typeservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>